$primary: #FFEB3B;
$statusBars: #FBC02D;
$accent: #FFFF00;
$black: #212121;
$bg: #FAFAFA;
$whiteText: #EEEEEE;
body{
	margin:0;
	font-family: Roboto;		
}
section{
	margin-top:120px;
	width:100%;
	height:100vh;

}

// Animation 
[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
[ui-view].ng-leave {
  opacity: 1;
  transition:0s;
  transform: translateY(-50%);
}

[ui-view].ng-leave-active {
  opacity: 0;
  transform: translateY(-100%);
}

[ui-view].ng-enter {
  opacity: 0;
  transform: translateY(20%);
}

[ui-view].ng-enter-active {
  opacity: 1;
  transform: translateY(0%);
}

@keyframes fadeIn{
  from{opacity:0;}
  to{opacity:1;}
}
// Animation end
.upperSheet{
	top:0;
	position:fixed;
	background:$statusBars;
	margin:0;
	width:100vw;
	height:80px;
	box-shadow:0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}
.card{
	width:70vw;
	height:auto;
	min-height:200px;
	box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	margin:0 auto;	
	padding:24px 16px;
		p{
			max-width:60ch;
			font-size:14px;
			line-height:24px;
			font-weight:400;
		}
		.title{
			font-size: 24px;
			margin-bottom:16px;
		}
}