.sprite.ts { background-position: 0 0; } 
.sprite.AngularJS { background-position: 0 -210px; } 
.sprite.bower { background-position: 0 -420px; } 
.sprite.chartjs { background-position: 0 -630px; } 
.sprite.codepen { background-position: 0 -840px; } 
.sprite.CSS { background-position: 0 -1050px; } 
.sprite.Dropbox { background-position: 0 -1260px; } 
.sprite.Firebase2 { background-position: 0 -1470px; } 
.sprite.Firebase { background-position: 0 -1680px; } 
.sprite.git { background-position: 0 -1890px; } 
.sprite.gulp { background-position: 0 -2100px; } 
.sprite.Heroku { background-position: 0 -2310px; } 
.sprite.HTML { background-position: 0 -2520px; } 
.sprite.ionic { background-position: 0 -2730px; } 
.sprite.Java { background-position: 0 -2940px; } 
.sprite.Javascript { background-position: 0 -3150px; } 
.sprite.jQuery { background-position: 0 -3360px; } 
.sprite.Markdown { background-position: 0 -3570px; } 
.sprite.mySQL { background-position: 0 -3780px; } 
.sprite.nodejs { background-position: 0 -3990px; } 
.sprite.npm { background-position: 0 -4200px; } 
.sprite.PHP { background-position: 0 -4410px; } 
.sprite.sass { background-position: 0 -4620px; } 
.sprite.wakatime { background-position: 0 -4830px; width: 190px; } 
.sprite.ts { background-position: 0 -5040px; } 
.sprite.Typscript { background-position: 0 -5250px; } 
.sprite.AngularJS { background-position: 0 -5460px; } 
.sprite.Bower { background-position: 0 -5670px; } 
.sprite.chartjs { background-position: 0 -5880px; } 
.sprite.codepen { background-position: 0 -6090px; } 
.sprite.CSS { background-position: 0 -6300px; } 
.sprite.Dropbox { background-position: 0 -6510px; } 
.sprite.Firebase2 { background-position: 0 -6720px; } 
.sprite.Firebase { background-position: 0 -6930px; } 
.sprite.git { background-position: 0 -7140px; } 
.sprite.gulp { background-position: 0 -7350px; } 
.sprite.Heroku { background-position: 0 -7560px; } 
.sprite.HTML { background-position: 0 -7770px; } 
.sprite.ionic { background-position: 0 -7980px; } 
.sprite.Java { background-position: 0 -8190px; } 
.sprite.Javascript { background-position: 0 -8400px; } 
.sprite.jQuery { background-position: 0 -8610px; } 
.sprite.Markdown { background-position: 0 -8820px; } 
.sprite.mySQL { background-position: 0 -9030px; } 
.sprite.nodejs { background-position: 0 -9240px; } 
.sprite.NPM { background-position: 0 -9450px; } 
.sprite.PHP { background-position: 0 -9660px; } 
.sprite.sass { background-position: 0 -9870px; } 
.sprite.wakatime { background-position: 0 -10080px; width: 190px; } 